<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
        <title>Kora-1 - Dashboard</title>
    </head>
    <body>
        <div class="min-h-full">
            <nav class="bg-gray-800">
              <div class=" max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 ml-10">
                      <img class="h-12 w-17" src="./static/images/Kora.PNG" alt="KORA-1 logo">
                    </div>
                    <div class="hidden md:block">
                      <div class="ml-5 flex mb-2 space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
            </nav>


            <main>
                <section class="flex text-white">
                  <div class=" w-[68vw] px-5 sm:px-6 lg:px-20">
                    <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3">

                        <div class="flex items-start gap-4 ">
                          <div
                            class=" rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105"
                              >
                              <a class="w-[340px] h-[200px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8 " href="">
                                <div class="flex flex-col  px-4 py-8 text-center">
                                  <dt class="order-last text-lg font-bold text-black">
                                    Altitude
                                  </dt>
                                  <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400"><span id="altitude">50</span> m</dd>
                                  </div>
                              </a>
                          </div>
                        </div>
                        <div class="flex items-start gap-4 ">
                          <div
                            class=" rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105"
                              >
                              <a class="w-[340px] h-[200px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8 " href="">
                                <div class="flex flex-col  px-4 py-8 text-center">
                                  <dt class="order-last text-lg font-bold text-black">
                                    Temperature
                                  </dt>
                                  <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><span id="temperature">50</span>°</dd>
                                  </div>
                              </a>
                          </div>
                        </div>
                        <div class="flex items-start gap-4 ">
                          <div
                            class=" rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105"
                              >
                              <a class="w-[340px] h-[200px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8 " href="">
                                <div class="flex flex-col  px-4 py-8 text-center">
                                  <dt class="order-last text-lg font-bold text-black">
                                    Pressure
                                  </dt>
                                  <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><span id="pressure">50</span> psi</dd>
                                  </div>
                              </a>
                          </div>
                        </div>
                        <div class="flex items-start gap-4 ">
                          <div
                            class=" rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105"
                              >
                              <a class="w-[340px] h-[200px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8 " href="">
                                <div class="flex flex-col  px-4 py-8 text-center">
                                  <dt class="order-last text-lg font-bold text-black">
                                    Humidity
                                  </dt>
                                  <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><span id="humidity">50</span> g/kg</dd>
                                  </div>
                              </a>
                          </div>
                        </div>
                        <div class="flex items-start gap-4 ">
                          <div
                            class=" rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105"
                              >
                              <a class="w-[340px] h-[200px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8 " href="">
                                <div class="flex flex-col  px-4 py-8 text-center">
                                  <dt class="order-last text-lg font-bold text-black">
                                    VCO index
                                  </dt>
                                  <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><span id="vco_index">50</span> AQI</dd>
                                  </div>
                              </a>
                          </div>
                        </div>
                        <div class="flex items-start gap-4 ">
                          <div class="rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105">
                            <a class="w-[340px] h-[200px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8" href="">
                              <div class="flex flex-col px-4 text-center">
                                <dt class="order-last text-lg font-bold text-black">
                                  Location
                                </dt>
                                <div class="flex flex-row justify-center ">
                                  <div class="flex flex-col">
                                    <dd class="text-xl font-bold text-gray-500 text-center mt-4">Longitude:</dd>
                                    <dd class="text-xl font-bold text-gray-500 mt-7">Latitude:</dd>
                                  </div>
                                  <div class="flex flex-col">
                                    <dd class="text-5xl font-extrabold text-blue-600  mb-2"><span id="latitude">122</span>° </dd>
                                    <dd class="text-5xl font-extrabold text-blue-600 "><span id="longitude">169</span>° </dd>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                          
                        </div>
                    </div>
                  </div>

                  <div class=" w-[32vw] mr-5">
                    <div class="mt-16 "> 
                      <div class="flex items-start ">
                      <div
                        class=" rounded-2xl bg-gradient-to-r from-emerald-400 via-cyan-400 to-blue-400 p-1 shadow-xl transition duration-300 ease-in-out hover:scale-105"
                          >
                          <a class="w-[550px] h-[730px] block rounded-xl bg-white p-4 sm:p-6 lg:p-8 " href="">
                            <div class="mt-16">
                              <img class="" src="./static/images/test.png" alt="map">

                            </div>
                          </a>
                      </div>
                    </div>
                  </div>
                   
                  </div>
                </section> 
                
                
            </main>
          </div>
          <script>
            async function getData() {
              const response = await fetch('/get_data')
              const jsonData = await response.json()
              console.log('Data in json:')
              console.log(jsonData)

              // Update data on page
              updateData(jsonData)
            }

            // TESTING
            // Send data to /post_data
            async function postData() {
              data_to_send = 
                  {
                      "altitude": "00",
                      "temperature": "0",
                      "pressure": "10",
                      "humidity": "0",
                      "vco index": "8",
                      "latitude": "8",
                      "longitude": "8"
                  }

              const response = await fetch('/post_data', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(data_to_send)
              })
              const data = await response.json()
              console.log('Data sent and received from server:')
              console.log(data)
            }

            // postData()

            // Update data on page
            function updateData(jsonData) {
              console.log('Data in json:')
              console.log(jsonData)

              // Update data on page
              document.getElementById('altitude').innerHTML = jsonData['altitude']
              document.getElementById('temperature').innerHTML = jsonData['temperature']
              document.getElementById('pressure').innerHTML = jsonData['pressure']
              document.getElementById('humidity').innerHTML = jsonData['humidity']
              document.getElementById('vco_index').innerHTML = jsonData['vco index']
              document.getElementById('latitude').innerHTML = jsonData['latitude']
              document.getElementById('longitude').innerHTML = jsonData['longitude']
            }

            setInterval(getData, 3000)

            </script>
    </body>
</html>
